pane_frames false

layout {
	default_tab_template {
		children
	}

	tab name="diffstep" {
		pane name="diff" {
			command "just"
			args "watch-diff"
		}
		pane split_direction="vertical" {
			size "1"
			pane name="reset" {
				command "just"
				args "reset"
			}
			pane name="next" {
				focus true
				command "just"
				args "next"
			}
		}
	}
}
