.slidev-code {
  --slidev-code-font-size: 16px; /* default: 12px */
  text-align: left;
  font-weight: bold;
}

/* remove backticks from inline code blocks */
:not(pre) > code::before {
  content: "";
  margin-left: 0.08em;
}
:not(pre) > code::after {
  content: "";
}

/* un-italicize comments */
.comment {
  --prism-comment-style: "";
}
