layout {
	tab name="slides" {
		pane size=1 borderless=true {
			plugin location="compact-bar"
		}
        pane  split_direction="vertical" {
            pane split_direction="horizontal" {
                pane {
                    command "just"
                    args "slides" "1"
                }
                pane {
                    command "just"
                    args "slides" "2"
                }
                pane {
                    command "just"
                    args "slides" "3"
                }
            }
            pane split_direction="horizontal" {
                pane {
                    command "just"
                    args "slides" "4"
                }
                pane {
                    command "just"
                    args "slides" "5"
                }
                pane {
                    command "just"
                    args "slides" "6"
                }
            }
        }
	}
}
