layout {
	default_tab_template {
		children
	}

	tab name="helix" {
		pane {
			command "hx"
			args "--config" "../../helix-demo-config.toml" "src/main.rs"
		}
	}

	swap_floating_layout name="scratchpad" {
		floating_panes max_panes=1 {
			pane {
				x "10%"
				y "20%"
				width "80%"
				height "60%"
			}
		}
	}
}
